
<h3>update</h3>
<table>
  <tr>
    <td>name:</td>
    <td><input #name/></td>
  </tr>
  <tr>
    <td>owner:</td>
    <td><input #owner/></td>
  </tr>
  <tr>
    <td>photo:</td>
    <td><input #photo/></td>
  </tr>
</table>
<button *ngIf="profile" (click)="save(name.value, owner.value, photo.value)">save</button>
<button *ngIf="!profile" disabled>save</button>


<!-- lazy craig. -->
<br/><hr/>
<h3>lookup</h3>
<table>
  <tr>
    <td>name:</td>
    <td><input [(ngModel)]="lookup"/></td>
  </tr>
</table>
<button *ngIf="profile" (click)="findPuppy()">find</button>
<button *ngIf="!profile" disabled>find</button>
<div *ngIf="(foundPuppy | async)?.name">
  <div>name: {{(foundPuppy | async)?.name}}</div>
  <div>owner: {{(foundPuppy | async)?.owner}}</div>
  <span *ngFor="let photo of foundPuppyPhotos | async">
    <img [src]="photo.$value" width="200">
  </span>
</div>
