<div>
  <div>name:<input #name/></div>
  <div>owner:<input #owner/></div>
  <div>photo:<input #photo/></div>
  <!--
    TODO(you): implement save again.
  -->
  <!-- <button (click)="save(name.value, owner.value, photo.value)">save</button> -->
</div>

<br/><hr/><br/>

<div>
  <div>lookup:<input #lookup/></div>
  <button (click)="findPuppy(lookup.value)">find</button>
  <div *ngIf="(foundPuppy | async)?.name">
    <div>name: {{(foundPuppy | async)?.name}}</div>
    <div>owner: {{(foundPuppy | async)?.owner}}</div>
    <!--
      TODO(you): use *ngFor to display foundPuppy.photo
    -->
  </div>
</div>
