<div>
  <div>name:<input #name/></div>
  <div>owner:<input #owner/></div>
  <div>photo:<input #photo/></div>
  <button (click)="save(name.value, owner.value, photo.value)">save</button>
</div>

<!-- lazy craig. -->
<br/><hr/><br/>

<div>
  <div>lookup:<input #lookup/></div>
  <button (click)="findPuppy(lookup.value)">find</button>
  <div *ngIf="(foundPuppy | async)?.name">
    <div>name: {{(foundPuppy | async)?.name}}</div>
    <div>owner: {{(foundPuppy | async)?.owner}}</div>
    <span *ngFor="let photo of foundPuppyPhotos | async">
      <img [src]="photo.$value" width="200">
    </span>
  </div>
</div>
